*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.table-controls {
    display: flex;
    align-items: center; 
    width: 100%;
    height: 60px; 
    padding: 0 16px; 
    box-sizing: border-box;
    background-color: rgb(3, 11, 68);

    div:nth-child(2) {
        width: 40px;
        height: 30px;
        background-color: rgb(1, 0, 10);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div:nth-child(5) {
        width: 72%;
        display: flex;
        justify-content: end;
    }

    div:nth-child(6) {
        display: none;
    }
}

.table-controls input {
    background-color: rgb(3, 11, 68);
}

.table-controls span, i {
    color: white;
}

.form-control {
    width: 250px; 
    height: 30px; 
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 4px 12px; 
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn {
    height: 30px; 
}

.table-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: auto; 
}

.responsive-table {
    width: 100%;
    min-width: 600px; 
    border-collapse: collapse;
}

thead th, tbody td, tfoot td {
    padding: 8px;
    text-align: center;
}

thead tr {
    color: white;
    height: 40px;
    background-color: rgb(3, 11, 68);
}

tbody {
    color: white;
    tr:nth-child(odd) {
        background-color: rgb(51, 58, 110);
    }

    tr:nth-child(even) {
        background-color: rgb(3, 11, 68);
    }

    td i {
        cursor: pointer;
        padding-left: 6px;
    }

    i:nth-child(1) {
        color:rgb(255, 242, 0);
    }

    i:nth-child(2) {
        color: rgb(230, 20, 20);
    }

    .container-status {
        height: 30px;
        color: rgb(49, 120, 4);
        background-color: rgb(211, 246, 223);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }
}


.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-product div {
    width: 130px;
    padding-left: 22px;
    display: flex;
    align-items: center;
}

.container-product img {
    width: 40px; 
    height: 40px;
    border-radius: 4px;
    margin-right: 8px; 
}

.container-product span {
    font-size: 14px; 
    color: white; 
}

tfoot {
    background-color: rgb(3, 11, 68);

    tr {
        height: 80px;

        .container-foot {
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;

            .container-pagination {
                width: 30px;
                height: 40px;
                background-color: rgb(39, 39, 110);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
            }

            .container-pagination:nth-child(2) {
                background-color: rgb(161, 77, 239);
            }
        }
    }
}

@media all and (max-width: 425px) {
    .table-controls {
        div:nth-child(5) {
            display: none;
        }

        div:nth-child(6) {
            padding-left: 6px;
            display: flex;
        }
    }
}

/*
.container-flex {
    display: flex;
    flex-flow: row nowrap;
}

.container-header {
    width: 100%;
    height: 60px;
    background-color: rgb(3, 11, 68);

    .item-header {
        color: white;
        font-size: 18px;
    }

    .item-header:nth-child(1) {
        flex: 0 0 40%;
        padding-left: 80px;
        display: flex;
        align-items: center;
        gap: 20px;

        .item:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 30px;
            background-color: rgb(1, 0, 10);
            border-radius: 6px;

            i {
                padding-left: 4px;
            }
        }

        .item:nth-child(4) {
            input {
                width: 240px;
                height: 30px;
                background-color: rgb(3, 11, 68);
                border: 1px solid white;
                border-radius: 6px;
            }

            input::placeholder {
                color: grey;
                font-weight: bold;
            }
        }
    }

    .item-header:nth-child(2) {
        flex: 0 0 60%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        div {
            padding-right: 40px;

            button {
                width: 160px;
                height: 30px;
                font-weight: 800;
                color: white;
                border: none;
                background-color: rgb(177, 106, 243);
                border-radius: 6px;
            }
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        height: 40px;

        th {
            background-color: rgb(3, 11, 68);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
        }
    }

    tbody {
        tr {
            color: white;
            height: 60px;

            td {
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                .container-product {
                    padding-left: 38%;
                    align-items: center;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 4px;
                    }

                    span {
                        margin-left: 5px;
                    }
                }

                .container-status {
                    height: 30px;
                    justify-content: center;

                    div {
                        width: 100px;
                        color: rgb(49, 120, 4);
                        background-color: rgb(211, 246, 223);
                        border-radius: 50px;
                        padding-top: 6px;
                    }
                }

                .fa-trash {
                    cursor: pointer;
                    margin-left: 6px;
                    color: rgb(230, 20, 20);
                }

                .fa-pen-to-square {
                    cursor: pointer;
                    color: rgb(255, 242, 0);
                }
            }
        }

        tr:nth-child(odd) {
            background-color: rgb(51, 58, 110);
        }

        tr:nth-child(even) {
            background-color: rgb(3, 11, 68);
        }
    }

    tfoot {
        background-color: rgb(3, 11, 68);

        tr {
            height: 80px;

            .container-foot {
                color: white;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;

                .container-pagination {
                    width: 30px;
                    height: 40px;
                    background-color: rgb(39, 39, 110);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                }

                .container-pagination:nth-child(2) {
                    background-color: rgb(161, 77, 239);
                }
            }
        }
    }
}